  
  body::-webkit-scrollbar {
    width: 12px;       
  }
  
  body::-webkit-scrollbar-track {
    background: black;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
  }

body{
  background-color: black;
    font-family: "Nunito",sans-serif;
}

.content{
    margin-top: 100px;
}
section{
    margin-bottom: 100px;
}
h2{
    color: white;
    font-weight: 100;
    font-size: 2.3rem;
}
p{
    color: rgb(240, 231, 216);
    
}

.fas {
    color: white;

}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

.nav-link {
  color: white;
  

}


.nav-link:hover {
  
    background-color: white;
    color: black;
}
.navbar-brand{
  color: white;
}

.navbar-brand:hover{
    color: white;
}

.navbar.scrolled {
    background-color: white !important;
    color: black !important;
    transition: background-color 1s;
}

.navbar.scrolled  a {
    
    color: black !important;
    transition: background-color 1s;
}
.navbar.scrolled .fas{
 
    color: black !important;
    transition: background-color 1s;
}

li{
    list-style-type: none;
}
#mainNavbar{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type:  y mandatory;

}

#main2 h1{
    font-weight: 100;
    font-size: 4rem;
}
@media (max-width:1200px){
    #main2 h1{
        font-weight: 100;
        font-size: 3rem;
    }
}

